html {
    background-color: #0f0f0f;
    
}

html,
body {
    margin: 0;
    color:white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


* {box-sizing: border-box;
color:#fff; font-family: 'Roxborough CF';}

.Ek{font-family: 'Ekster-Regular';}
.Ekb{font-family: 'Ekster-Bold';}

.pad{padding: 55px 51px;}
.pada{padding: 25px 25px;}
.mainmar{margin: 0 121px;}
.w300{width:300px;}
/*백그라운드폰트 장식용*/
.ital span{font-style: italic;}
.bgfont{font-size: 80pt; position:fixed; z-index:-1;}
/*header   
<header class="pad">
        <div class="menutrigger">
            <a href="#">
               <span></span>
                <span></span>
                <span></span></a>
        </div>
        <div class="logo">
            <h1>Culă</h1>
        </div>
        <div class="left-button"><a class="login" href="#">log in</a><a class="mypage" href="#"><img src="img/ic_mypage.png"></a></div>
    </header>*/
header .menutrigger{position:relative;}
header .menutrigger a span{width:46px; height:4px; background:#fff; display:block;}
header .menutrigger a span:nth-of-type(2){margin-top:11px;}
header .menutrigger a span:nth-of-type(3){margin-top:11px;}
header .left-button .mypage img{height:30px; padding-left: }
header .left-button{width:100px;display:flex;
justify-content: space-between;align-items: baseline; font-size: 20px;}
header{display:flex;
justify-content: space-between;
align-items: baseline; width:100%; z-index:2
}
/*버거메뉴*/
header .menutrigger{padding-bottom:30px;}
header .menutrigger .burger a{transition: 1s;}
header .menutrigger .burger a:nth-of-type(1) {
    border-top: 3px solid #fff;
    transform: translateY(-80px)scale(0.1);
    opacity: 0;transform-origin: 10%;
}

header .menutrigger .burger a:nth-of-type(2) {
    border-bottom: 3px solid #fff;
    transform: translateY(-160px)scale(0.1);
    opacity: 0;transform-origin: 10%;
}
header .menutrigger:hover .burger a:nth-of-type(1){opacity:1; transform: translateY(0px);}
header .menutrigger:hover .burger a:nth-of-type(2){opacity:1; transform: translateY(0px);}

