@import url(common.css);

html {
    background: #ffe4c7 !important;
}

header {
    background: #fa2525;
}

header .left-button .logbtn .log_in > label {}

main {
    width: 100%;
}

main .upban {
    height: 600px;
    background: #fa2525;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
}

main .upban span {
    font-style: italic;
}

main .upban p {
    letter-spacing: 10px;
    position: absolute;
    top: 10%
}

main .upban h2 {
    font-size: 120pt;
    z-index: 1;
}

main .upban img {
    position: absolute;
    top: 330px;
    display: table;
    width: 70%;
}



main .imgs {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

main .imgs h2:nth-of-type(1) {
    padding-top: 40%;
    height: 100%
}

main .imgs h2:nth-of-type(5) {
    padding-bottom: 10%;
}

main .imgs h2 {
    color: #fa2525;
    font-size: 5em;
    white-space: pre-line
}

main .imgs h2 span {
    color: #fa2525;
    font-style: italic;
}

main .imgs h2 p {
    font-size: .5em;
    font-style: italic;
    color: #717171;
}

main .imgs h3 {
    color: #fa2525;
    padding-top: 2%;
}

main .imgs h3 span {
    color: #757575;
}

main .imgs img:nth-of-type(1) {
    padding-top: 7%;
}

main .imgs img {
    padding-top: 12%;
    width: 70%;
}

.bb {
    position: fixed;
    right: 3%;
    bottom: 5%;
}

@media (max-width:1430px) {
    main .upban {
        height: auto;
        background: #fa2525;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
    }

    main .upban h2 {
        font-size: 50pt;
        z-index: 1;
    }

    main .upban p {
        letter-spacing: 3px;
        position: static;
        top: 10%
    }

    main .upban img {
        position: absolute;
        top: 70%;
        display: table;
        max-width: 100%
    }

    main .imgs h2:nth-of-type(1) {
        padding-top: 55%;
        font-size: 2em;
    }

    main .imgs h2 {
        color: #fa2525;
        font-size: 30pt;
        white-space: pre-line;
    }

    main .imgs h2 span {
        color: #fa2525;
        font-style: italic;
    }

    main .imgs h2 p {
        font-size: .5em;
        font-style: italic;
        color: #717171;
    }

    main .imgs h3 {
        color: #fa2525;
        padding-top: 2%;
        font-size: .7em;
    }

    main .imgs h3 span {
        color: #757575;
    }

    main .imgs img {
        padding-top: 12%;
        width: 70%;
    }
}



@media (max-width:480px) {
    main .upban {
        height: auto;
        background: #fa2525;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        position: relative;
        text-align: center;
    }

    main .upban h2 {
        font-size: 30pt;
        z-index: 1;
    }

    main .upban p {
        letter-spacing: 3px;
        position: static;
        top: 10%
    }

    main .upban img {
         position: absolute;
        top: 73%;
        display: table;
        max-width: 100%
    }

    main .imgs h2:nth-of-type(1) {
        padding-top: 55%;
        font-size:1em;
    }

    main .imgs h2 {
        color: #fa2525;
        font-size: 15pt;
        white-space: pre-line;
    }

    main .imgs h2 span {
        color: #fa2525;
        font-style: italic;
    }

    main .imgs h2 p {
        font-size: .5em;
        font-style: italic;
        color: #717171;
    }

    main .imgs h3 {
        color: #fa2525;
        padding-top: 2%;
        font-size: .4em;
    }

    main .imgs h3 span {
        color: #757575;
    }

    main .imgs img {
        padding-top:12%;
        width: 70%;
    }
}
