@import url('common.css');

.bg{line-height:250px; transform: rotate(23.5deg) translateY(-130px);}
.bg h2,span {color:black;}
/*
.bg h1:nth-of-type(1){transform:translateX(-2000px)}
.bg h1:nth-of-type(2){transform:translateX(2000px)}
.bg h1:nth-of-type(3){transform:translateX(-2000px)}
.bg h1:nth-of-type(4){transform:translateX(2000px)}
.bg h1:nth-of-type(5){transform:translateX(-2000px);animation}*/
.bg h2:nth-of-type(odd){transform:translateX(-100px);}
.bg h2:nth-of-type(even){transform:translateX(100px);}
.bg h2:nth-of-type(odd){animation: dddj 4s 0s;}
.bg h2:nth-of-type(even){animation: dddz 4s 0s;}
@keyframes dddj {from{transform:translateX(-2000px);} to{transform:translateX(-100px);}}
@keyframes dddz {from{transform:translateX(2000px);} to{transform:translateX(100px);}}

main{width:87%; height:100%;}

main>div .col-md-3{display:inline-block; !important;}
main>div .col-md-3 .prfile{border-radius: 100%; width:200px;float:left;}
main>div .col-md-3 a img{width:25px;}
main>div .col-md-3 .textar{width:43%; float:right; display: flex; flex-direction: column; vertical-align: middle; align-content: center; margin-top:20px;}
main>div .col-md-3 .sns{display:inline-block;}

main .sns{bottom:0;}

main .gal{transform-style: preserve-3d;}

main .gal a{width:300px; height:420px;}

main .gal img{width:300px; box-shadow: 5px 3px 5px 3px #000 ; transition:1s;}
main:hover .gal .gal2 img{margin-left:240px;}
main:hover .gal .gal3 img{margin-left:480px;}
main .gal .gal1 img:hover{transform:scale(1.07)}
main .gal .gal2 img:hover{transform:scale(1.07)}
main .gal .gal3 img:hover{transform:scale(1.07)}